@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Poppins:wght@100;300;500&display=swap');

body{   
    font-family: 'Poppins', sans-serif;
    color: #093aec;
}

.fundo-video {
    position: absolute;
    background-color: rgb(214, 214, 239);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.fundo-video .video {
    height: 100vh;
    width: 100vw;
}

.fundo-video::after {
    content: '';
    background-color: #346fe6;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #749fca 0%, rgba(174, 167, 167, 0.85) 49%, #749fca 100%);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho-logo {
    display: flex;
    align-items: center;
}

.texto-logo {
    margin: 40px;
    font-size: 25px;
    color: #093aec;
    font-weight: bolder;
}

.cabecalho .logo {
    width: 265px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #093aec;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.cabecalho nav li a:hover {
    background-color: #093aec;
    color: #fff;
}

.info {
    display: flex;
    margin: 150px;
}

.foto-principal {
    width: 400px;
    padding-right: 90px;
}

.botao-trailer {
    position: absolute;
    cursor: pointer;
}

.botao-trailer:hover {
    opacity: -1;
}

.rodape {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
